.main-container{
    /* position: absolute; */
    /* width: 100vh; */
    height: 70vh;
    background: rgb(255,199,59);
    background: linear-gradient(90deg, rgba(255,199,59,1) 0%, rgba(255,188,188,1) 35%, rgba(221,165,255,1) 100%);
    border-radius: 0px 0px 0px 440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heading {
    font-weight: 800;
    font-size: 100px;
    color: white;
}

.main-text {
    font-size: 25px;
    color: white;
}

.dog-img {
    width: 357px;
    height: 477px;
    z-index: 100;
    position: fixed;
    top: 140px;
    left: 140px;
}

.main-cat-img {
    width: 612px;
    height: 510px;
    position: fixed;
    left: 900px;
    top: 296px;
}
